In [9]:
#! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 KB 2.2 MB/s eta 0:00:0000:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Historico_Suertes

In [44]:
dfHS = pd.read_excel('../data/HISTORICO_SUERTES.xlsx', sheet_name="Hoja1", header=0)
dfHS.head(5)

,Período,Hacienda,Nombre,Zona,Tenencia,Suerte,Suelo,Area Neta,Dist Km,Variedad,...,Humedad Rel Media Ciclo,Oscilacion Temp Med 0-3,Oscilacion Temp Ciclo,Sum Oscilacion Temp Ciclo,Radicion Solar 0-3,Radiacion Solar Ciclo,Precipitacion 0_3,Precipitacion Ciclo,Evaporacion 0-3,Evaporacion Ciclo
0,201701,80493,LA CONCHA,IP02,51.0,002A,CANTARINA,6.00,4.3,CC85-92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201701,81284,UKRANIA INCAUCA,IP05,81.0,039B,NaN,1.45,NaN,CC85-92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201701,80203,EL AMPARO SAA,IP05,31.0,007,CORINTIAS,8.24,23.0,CC01-1228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201701,81380,SAN JUDAS INCAUCA,IP05,82.0,013A,NaN,1.05,66.5,CC01-1940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201701,80298,JAVA,IP06,31.0,025A,GALPON,4.53,17.0,RB73-2223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
dfHS.describe()

,Período,Hacienda,Tenencia,Area Neta,Dist Km,Cod.Estado #,F.Siembra,Ult.Riego,Edad Ult Cos,F.Ult.Corte,...,Humedad Rel Media Ciclo,Oscilacion Temp Med 0-3,Oscilacion Temp Ciclo,Sum Oscilacion Temp Ciclo,Radicion Solar 0-3,Radiacion Solar Ciclo,Precipitacion 0_3,Precipitacion Ciclo,Evaporacion 0-3,Evaporacion Ciclo
count,21027.000000,21027.000000,21026.000000,21027.000000,21022.000000,21027.000000,21027,8470,21027.00000,21027,...,4530.000000,4530.000000,4530.000000,0.0,4530.000000,4530.000000,4530.000000,4530.000000,4530.000000,4530.000000
mean,202039.708708,80679.334427,46.448730,8.642948,25.311806,4.261806,2015-03-11 18:18:44.839492096,2020-02-16 21:24:26.351829760,13.01111,2020-10-27 09:01:09.339420672,...,80.764679,16.059757,24.556072,NaN,435.119397,438.344500,298.258587,1209.462980,442.941369,1912.479868
min,201701.000000,80100.000000,11.000000,0.004000,1.100000,0.000000,1986-04-30 00:00:00,2016-01-12 00:00:00,1.31000,2017-01-02 00:00:00,...,63.327000,12.500000,22.353000,NaN,352.013000,367.315000,23.100000,23.100000,190.400000,190.400000
25%,201812.000000,80247.000000,31.000000,3.310000,12.000000,1.000000,2013-03-13 00:00:00,2018-03-07 00:00:00,11.93000,2018-12-14 00:00:00,...,80.038000,15.200000,22.946250,NaN,421.344750,426.533250,221.650000,998.900000,416.800000,1729.900000
50%,202010.000000,80453.000000,51.000000,7.000000,21.900000,3.000000,2015-11-10 00:00:00,2019-08-14 00:00:00,12.62000,2020-10-11 00:00:00,...,81.291500,15.700000,23.201500,NaN,436.591000,439.140000,296.900000,1181.150000,440.950000,1885.200000
75%,202209.000000,81104.000000,51.000000,12.075000,32.700000,6.000000,2018-08-07 00:00:00,2022-05-19 00:00:00,13.86000,2022-09-25 00:00:00,...,82.440500,16.800000,25.660000,NaN,449.274000,450.391000,373.300000,1391.850000,465.800000,2057.800000
max,202407.000000,82557.000000,91.000000,65.000000,155.000000,31.000000,2023-09-08 00:00:00,2024-06-27 00:00:00,78.19000,2024-07-10 00:00:00,...,84.816000,19.700000,32.358000,NaN,500.212000,485.672000,618.000000,3783.700000,614.300000,4971.800000
std,216.642895,590.030150,21.513498,7.049533,18.237344,4.111935,NaN,NaN,1.97907,NaN,...,2.752029,1.300131,2.471964,NaN,21.307392,18.582606,102.901635,340.463189,43.680452,307.978328

In [46]:
dfHS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21027 entries, 0 to 21026
Data columns (total 85 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Período                    21027 non-null  int64
 1   Hacienda                   21027 non-null  int64
 2   Nombre                     21027 non-null  object
 3   Zona                       21027 non-null  object
 4   Tenencia                   21026 non-null  float64
 5   Suerte                     21027 non-null  object
 6   Suelo                      17269 non-null  object
 7   Area Neta                  21027 non-null  float64
 8   Dist Km                    21022 non-null  float64
 9   Variedad                   21027 non-null  object
 10  Cod.Estado #               21027 non-null  int64
 11  Cod.Estado                 21027 non-null  object
 12  F.Siembra                  21027 non-null  datetime64[ns]
 13  D.S.                       7168 non-null   object
 14  Ult.Riego                  8470 non-null   datetime64[ns]
 15  Edad Ult Cos               21027 non-null  float64
 16  F.Ult.Corte                21027 non-null  datetime64[ns]
 17  Destino 1=Semilla          21027 non-null  int64
 18  Cod. T.Cultivo             21025 non-null  float64
 19  Cultivo                    21025 non-null  object
 20  Fec.Madur.                 11252 non-null  datetime64[ns]
 21  Producto                   11249 non-null  object
 22  Dosis Madurante            20923 non-null  float64
 23  Semanas mad.               11252 non-null  float64
 24  TonUltCorte                21027 non-null  float64
 25  TCH                        21027 non-null  float64
 26  TCHM                       21027 non-null  float64
 27  Ton.Azucar                 20786 non-null  float64
 28  Rdto                       20760 non-null  float64
 29  TAH                        20786 non-null  float64
 30  TAHM                       20786 non-null  float64
 31  Sac.Caña Precosecha        19929 non-null  float64
 32  Edad.Precosecha            8919 non-null   float64
 33  %Sac.Caña                  20578 non-null  float64
 34  %Sac.Muestreadora          19169 non-null  float64
 35  %ATR                       20505 non-null  float64
 36  KATRHM                     20505 non-null  float64
 37  %Fibra Caña                19169 non-null  float64
 38  %AR Jugo                   18903 non-null  float64
 39  %ME Min                    19305 non-null  float64
 40  %ME Veg                    19307 non-null  float64
 41  %ME Tot                    19307 non-null  float64
 42  Brix                       20760 non-null  float64
 43  Pureza                     20758 non-null  float64
 44  Vejez                      18582 non-null  float64
 45  Tipo Quema                 21027 non-null  object
 46  T.Corte                    21027 non-null  object
 47  Cerca de                   20901 non-null  object
 48  Cosechó                    21027 non-null  object
 49  Num.Riegos                 8438 non-null   float64
 50  M3 Riego                   21027 non-null  float64
 51  DDUlt.Riego                21027 non-null  int64
 52  Lluvias (2 Meses Ant.)     21027 non-null  float64
 53  Lluvias Ciclo              21027 non-null  float64
 54  Lluvias 0 -3               21027 non-null  float64
 55  Lluvias tres a seis        21027 non-null  float64
 56  Lluvias seis a nueve       21027 non-null  float64
 57  Luvias 9 -FC               21027 non-null  float64
 58  %Infest.Diatrea            5600 non-null   float64
 59  Fosfato Jugo               19169 non-null  float64
 60  Fert.Nitrogen.             0 non-null      float64
 61  Urea 46%                   723 non-null    float64
 62  MEZ                        971 non-null    float64
 63  Boro Granul.               1285 non-null   float64
 64  MicroZinc                  1149 non-null   float64
 65  NITO_XTEND                 3679 non-null   float64
 66  Sul.Amonio                 1357 non-null   float64
 67  NITRAX-S                   748 non-null    float64
 68  Vinaza                     4098 non-null   float64
 69  Codigo Estacion            6285 non-null   object
 70  Temp. Media 0-3            4530 non-null   float64
 71  Temp. Media Ciclo          4530 non-null   float64
 72  Temp Max Ciclo             4530 non-null   float64
 73  Temp Min Ciclo             4530 non-null   float64
 74  Humedad Rel Media 0-3      4530 non-null   float64
 75  Humedad Rel Media Ciclo    4530 non-null   float64
 76  Oscilacion Temp Med 0-3    4530 non-null   float64
 77  Oscilacion Temp Ciclo      4530 non-null   float64
 78  Sum Oscilacion Temp Ciclo  0 non-null      float64
 79  Radicion Solar 0-3         4530 non-null   float64
 80  Radiacion Solar Ciclo      4530 non-null   float64
 81  Precipitacion 0_3          4530 non-null   float64
 82  Precipitacion Ciclo        4530 non-null   float64
 83  Evaporacion 0-3            4530 non-null   float64
 84  Evaporacion Ciclo          4530 non-null   float64
dtypes: datetime64[ns](4), float64(62), int64(5), object(14)
memory usage: 13.6+ MB

In [47]:
dfHS.isna().sum()

Período                      0
Hacienda                     0
Nombre                       0
Zona                         0
Tenencia                     1
                         ...
Radiacion Solar Ciclo    16497
Precipitacion 0_3        16497
Precipitacion Ciclo      16497
Evaporacion 0-3          16497
Evaporacion Ciclo        16497
Length: 85, dtype: int64

In [48]:
dfHS.columns[dfHS.isna().sum() > 16497]

Index(['Fert.Nitrogen.', 'Urea 46%', 'MEZ', 'Boro Granul.', 'MicroZinc',
       'NITO_XTEND', 'Sul.Amonio', 'NITRAX-S', 'Vinaza',
       'Sum Oscilacion Temp Ciclo'],
      dtype='object')

In [49]:
dfHS = dfHS[dfHS.columns[dfHS.isna().sum() <= 16497]]

In [56]:
dfHS.shape

(21027, 75)

In [68]:
dfHS_no_newmetrics= dfHS.drop(dfHS.columns[dfHS.isna().sum() > 16496], axis=1)
dfHS_no_newmetrics.shape

(21027, 61)

In [78]:
dfHS_newmetrics = dfHS[dfHS['Evaporacion 0-3'].isna() == False]
dfHS_newmetrics.shape

(4530, 75)

# BD_IPSA_1940